body {
    font-family: Georgia;
}

.baner1, .baner2 {
    background-color: #3cb371;
    color: white;
    height: 100px;
    width: 40%;
    float: left;
}

.baner3 {
    background-color: #3cb371;
    height: 100px;
    width: 20%;
    float: left;
}

.glowny {
    float: left;
    background-color: #fff;
}

.dzien {
    background-color: #ffdab9;
    width: 170px;
    height: 90px;
    margin: 5px;
    border: solid 1px #3cb371;
    float: left;
}

.stopka {
    background-color: #3cb371;
    color: white;
}

h6 {
    text-align: right;
}

form {
    padding: 30px;
}