body {
    background-color: #f6e5dc;
    font-family: 'Verdana';
}

.baner {
    background-color: #2f180c;
    text-align: center;
    color: khaki;
    height: 60px;
}

.lewy {
    float: left;
    width: 60%;
}

.prawy {
    font-size: 150%;
    padding: 70px;
}

.dolny {
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}

.stopka {
    background-color: #2f180c;
    color: khaki;
    height: 60px;
}

img {
    height: 350px;
}

input[type=submit],
input[type=reset] {
    margin: 10px;
    padding: 5px;
    background-color: #2f180c;
    color: khaki;
}